body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: NeoSansPro-Regular;
  font-weight: 800;
}

map {
  height: inherit;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(155, 191, 211, 0.9);
  border-color: transparent;
  margin-bottom: 0;
  -moz-box-shadow: 0px -5px 5px 0px #656565;
  -webkit-box-shadow: -0px 5px 5px 0px #656565;
  -o-box-shadow: 0px -5px 5px 0px #656565;
  box-shadow: 0px -5px 5px 0px #656565;
  padding-top: 20px;
  font-size: 15px;
}

navside {
  color: #005484;
  position: fixed;
  top: 50px;
  z-index: 1;
  height: inherit;
  width: 0;
  background-color: rgba(242, 245, 246, 1);
  -moz-box-shadow: 0px 0px 10px 1px #656565;
  -webkit-box-shadow: 0px 0px 10px 1px #656565;
  -o-box-shadow: 0px 0px 10px 1px #656565;
  box-shadow: 0px 0px 10px 1px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
  overflow:auto;
  padding-bottom: 100px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-size: 200%;
}

.clicked {
  width: 33%;
  transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(200,200,200,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
